.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center; /* Centrado */
    padding: 20px 0; /* Espaciado */
    font-size: 14px; /* Tamaño de fuente pequeño */
    position: relative;
  }
  
  .footer p {
    margin: 5px 0; /* Margen entre los párrafos */
  }
  