<div class="container form">
  <div style="text-align: center;" class="col">
    <h1>{{title}}</h1>
  </div>

  <form>
    <label for="plato">Nombre del Plato</label>
    <input type="text" name="plato" id="plato" required [(ngModel)]="cuadroplato">
    <br>
    <br>
    <div class="form-group">
      <!-- ingredientes -->
      <div *ngFor="let ing of ingredientes">
        <input type="checkbox" [id]="ing.nombre" [value]="ing.nombre">
        <label [for]="ing.nombre"> {{ ing.nombre }}</label>
      </div>

      <!-- Ingredientes Nuevos -->
      
      <div>
      <input type="text" [(ngModel)]="cuadroNombre" placeholder="Añadir ingrediente..." name="nuevoIngrediente">
      <button (click)="agregarIngrediente()">+</button>
    </div>
     
      <label for="cantidad">cantidad</label>
      <input type="text" name="cantidad" id="cantidad" required [(ngModel)]="cuadrocantidad">
    </div>

    

    <br>
    <br>
    <label for="prep">Preparación:</label>
    <textarea name="prep" id="prep" required [(ngModel)]="cuadropreparacion"></textarea>

    <br><br>
    <input type="submit" value="Añadir Receta" (click)="incluirReceta()">
  </form>
</div>